<section class="wrapper">
  <h1>The application allows you to display and convert currency rates.</h1>
</section>

<app-select-exchange-rate-date
  (shownDate)="onShownDate($event)" aria-label="Currency rates date selection"
></app-select-exchange-rate-date>

<section class="wrapper">
  <h2 *ngIf="displayDate">
    Table of average exchange rates according to the National Bank of Poland from: {{displayDate}}. You can choose another date from the datepicker above.
  </h2>
</section>

<ng-container aria-describedby="Displaying exchange rates" *ngIf="currencyData && currencyData[0]?.rates.length; else info">
  <section class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Code</th>
          <th>Average rate</th>
        </tr>
      </thead>
      <tbody>
        @for(rate of currencyData[0].rates; track rate?.code) {
          <tr>
            <td><hr><span>{{ rate?.currency }}</span></td>
            <td><hr>{{ rate?.code }}</td>
            <td><hr>{{ rate?.mid }}</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</ng-container>
  
<ng-template #info>
  <section class="wrapper">
    <h3>The data is not available. If you want to check the archived data, select the date with the datepicker.</h3>
  </section>
</ng-template>
