<nav>
  <mat-toolbar role="nav header" color="primary">
    <span class="toolbar-title">Currency Converter</span>
    <button aria-label="navigate to home page" mat-flat-button color="primary" routerLink="/home">
      <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>Home</button>
    <button aria-label="navigate to conversion page" mat-flat-button color="primary" routerLink="/conversion">
      <mat-icon aria-hidden="false" aria-label="Money icon" fontIcon="money"></mat-icon>Currency conversion</button>
  </mat-toolbar>
</nav>