@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  font-size: 62.5%;
}
  
body {
  margin: 0;
  padding-bottom: 90px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 1.6rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h2, h3 {
  font-weight: 400;
  font-size: 2.1rem;
}

h4, h5, p {
  font-weight: 300;
  font-size: 1.6rem;
}

.container {
  display: flex;
  padding: 2rem;
}

.title {
  margin-bottom: 5px;
}

.date-info {
  margin-top: 5px;
}
